textarea { resize:none; }
/* Cuadros Inicio */
.top-block{
	font-size:14px;
	text-align: center;
	padding: 5px;
	margin-bottom:10px;
	font-weight:bold;
	position: relative;
	display: block;
	line-height: 22px;
	text-shadow: 0 0 1px #DDD;
	text-decoration:none;
	-webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
	   -moz-box-shadow: inset 0 0 0 1px #FAFAFA;
	        box-shadow: inset 0 0 0 1px #FAFAFA;
	background: -webkit-linear-gradient(top,  rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
	background:    -moz-linear-gradient(top,  rgba(30,87,153,0.2) 0%, rgba(125,185,232,0) 100%);
	background:     -ms-linear-gradient(top,  rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
	background:      -o-linear-gradient(top,  rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
	background:         linear-gradient(to bottom,  rgba(30,87,153,0.2) 0%,rgba(125,185,232,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0.2)), color-stop(100%,rgba(125,185,232,0)));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e5799', endColorstr='#007db9e8',GradientType=0 );
}

.top-block span{
	clear:both;
}


.top-block:hover{
	text-decoration:none;
}

.notification {
	display: block;
	position: absolute;
	top: -10px;
	right: -5px;
	line-height: 16px;
	height: 16px;
	padding: 0 5px;
	font-family: Arial, sans-serif;
	color: white !important;
	text-shadow: 0 1px 
	hsla(0, 0%, 0%, 0.25);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px 
	hsla(0, 0%, 0%, 0.08), inset 0 1px 
	hsla(0, 100%, 100%, 0.3);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
	     box-shadow: 0 1px 1px 
	hsla(0, 0%, 0%, 0.08), inset 0 1px 
	hsla(0, 100%, 100%, 0.3);
}

.notification {
	border-color: #2FABE9;
	background-color: #67C2EF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200, 80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
	background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image:    -moz-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image:     -ms-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image:      -o-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image:         linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
}

.notification.green {
	border-color: 	#5AAD34;
	background-color: 	#78CD51;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, 	hsl(101, 54%, 71%)), color-stop(100%, 	hsl(101, 55%, 56%)));
	background-image: -webkit-linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
	background-image:    -moz-linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
	background-image:     -ms-linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
	background-image:      -o-linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
	background-image:         linear-gradient(top, 	hsl(101, 54%, 71%), 	hsl(101, 55%, 56%));
}

.notification.yellow {
	border-color: #F4A506;
	background-color: #FABB3D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image:    -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image:     -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image:      -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image:         linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.notification.red {
	border-color: #FA5833;
	background-color: #FA603D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image:    -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image:     -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image:      -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image:         linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.span3 {
  width: 220px;
  height: 100px;
}

/*.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}*/
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}


/* Fin Cuadros */
/* Subir Imagenes */

.file_browser
{
    width: 50px; 
	height: 50px;
	background:url("../img/file_icons/add_photo.png") no-repeat;
    background-size: 50px 50px;
	float: left;
    cursor:pointer;
}

.hide_broswe
{
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	width:160px;
	padding:5px;
	cursor:pointer;
}
#displayImg
{
    border:1px solid #000;
    max-width:100%;
    max-height:200px;
    color:#cc0000;
    font-size:12px;
    overflow-y:auto;
}